// Lato Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
//cocogoose Font
@import url('http://fonts.cdnfonts.com/css/cocogoose');

// Font And color
$main-color:#d3d3d3;
$sub-color:#272a31;
$sf-color:#ec5242;
$f-main: 'COCOGOOSE', sans-serif;
$f-sub:'Lato', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  header {
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 42px;
    color: $sub-color;
    background-color: rgba(211, 211, 211, 0.5);
    width: 100%;
    height: 67px;
    position: fixed;

    .nav-a {
      display: none;
    }

    .nav-ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color: rgba(211, 211, 211, 0.9);
      width: 100%;
      left: 0;
      top: 0;

      #close {
        display: flex;
        width: 80%;
        margin-top: 6%;

        .close-btn {
          font-size: 50px;
          color: $sub-color;
          outline: none;
          border: none;
          background: none;
        }
      }

      .to-ul {
        padding: 5%;

        .menu {
          list-style: none;

          li {
            padding: 5%;
            margin-bottom: 35%;

            a {
              text-decoration: none;
              color: $sub-color;
            }
          }
        }
      }

      .div {
        height: 500px;
      }
    }

    .active {
      display: none;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  color: $sub-color;
  padding: 5%;

  .log1 {
    width: 50%;
    display: flex;
    justify-content: center;

    img {
      width: 150px;
      height: 150px;
    }
  }

  .p-footer {
    padding: 3%;
    font-family: $f-sub;
    font-size: 16px;
    text-align: left;
  }
}

main {
  .headline {
    background-image: url("/image/Untitled-4.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: $sf-color;
    padding: 5%;

    .open-intro {
      margin-top: 15%;
      font-family: $f-sub;
      font-size: 22px;
      padding: 2%;
    }

    .open {
      font-family: $f-main;
      font-size: 32px;
      padding: 3%;
    }

    .contact {
      display: flex;
      flex-direction: column;
      color: $sub-color;

      .f-para {
        text-align: center;
        background-color: white;
        font-family: $f-sub;
        line-height: 25px;
      }

      .event {
        font-family: $f-sub;
        margin-top: 5%;
        text-align: center;

        .email {
          margin-top: 5%;
        }
      }
    }
  }

  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;

    h2 {
      font-family: $f-sub;
      color: $sub-color;
    }

    .line {
      border: 1px $sf-color solid;
      width: 15%;
      margin: 2%;
    }

    .mo-par {
      font-family: $f-sub;
      color: $sub-color;
      margin-bottom: 5%;
    }

    .des-par {
      display: none;
    }

    .log {
      border: 1px solid $sub-color;
      width: 90%;
      display: flex;
      justify-content: center;

      img {
        width: 125px;
        height: 125px;
      }
    }
  }

  .past {
    margin-top: 10%;

    .past-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3%;

      .p-c {
        padding: 3%;
        margin: 5%;
        font-family: $f-sub;
        color: $sub-color;
      }

      .pic {
        img {
          filter: grayscale(90%);
          width: 100%;
          margin-bottom: 10%;
        }
      }
    }
  }

  .partener {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 5%;
    background-color: $sub-color;

    .title-p {
      display: flex;
      flex-direction: column;
      color: $main-color;
      font-size: 2rem;

      .line-p {
        border: 1px solid $sf-color;
        width: 30%;
        align-self: center;
      }
    }

    .p-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .ph {
        width: 33%;

        img {
          width: 100%;
        }
      }
    }
  }
}

$breakpoint-tablet: 1000px;

@media (min-width: $breakpoint-tablet) {
  body {
    header {
      margin: 0%;
      padding: 0%;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      z-index: 10;

      .nav-b {
        display: none;
      }

      .nav-a {
        display: block;
        width: 100%;
        position: fixed;

        .nav-white {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: #fff;

          a {
            width: 10%;
            margin-left: 5%;

            .l-1 {
              width: 100%;
            }
          }

          .nav-lists {
            list-style: none;
            display: flex;
            font-family: $f-sub;
            font-weight: 700;
            width: 90%;
            padding: 0%;
            margin: 0%;
            margin-left: 50%;
            margin-right: 7%;

            li {
              padding: 1%;
              margin: 1%;
              display: flex;
              align-items: center;

              a {
                text-decoration: none;
                color: $sub-color;
                font-size: 16px;
                text-align: center;
              }
            }
          }
        }

        .nav-blak {
          margin: 0%;
          padding: 0%;

          .black {
            background-color: black;

            .top {
              width: 100%;
              height: 30px;
              margin-left: -10%;
              display: flex;
              justify-content: flex-end;
              list-style: none;

              li {
                padding: 0.3%;
                margin: 0.3%;
                margin-left: 1.5%;

                a {
                  font-family: $f-sub;
                  text-decoration: none;
                  color: #fff;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #fff;
      color: $sub-color;
      padding: 5%;

      .log1 {
        width: 50%;
        display: flex;
        justify-content: center;

        img {
          width: 150px;
          height: 150px;
        }
      }

      .p-footer {
        padding: 3%;
        font-family: $f-sub;
        font-size: 16px;
        text-align: left;
      }
    }

    main {
      .headline {
        background-image: url("/image/1234.png");
        background-repeat: no-repeat;
        background-size: 150% 100%;
        padding: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .open-intro {
          margin-top: 0%;
          font-weight: 900;
        }

        .open {
          width: 50%;
          padding: 1%;
          font-size: 36px;
          // background-color:rgba(211, 211, 211, 0.622);
          margin-bottom: 3%;
          text-align: center;
        }

        .contact {
          width: 70%;
          font-family: $f-sub;

          .event1 {
            font-weight: 900;
            // background-color: rgba(211, 211, 211, 0.5);
          }

          .email {
            // margin-bottom: 15%;
            font-weight: 900;
            // background-color: rgba(211, 211, 211, 0.5);;
          }
        }
      }

      .cont {
        padding: 1%;

        .line {
          margin: 1%;
          width: 3%;
        }

        .des-par {
          display: flex;
          margin-bottom: 1%;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 50%;
          font-family: $f-sub;
          color: $sub-color;
        }

        .mo-par {
          display: none;
        }

        .log {
          width: 50%;
        }
      }

      .past {
        margin-top: 2%;

        .past-con {
          h2 {
            font-family: $f-sub;
          }

          .line {
            border: 1px solid $sf-color;
            width: 5%;
          }

          .p-c {
            margin: 2%;
            padding: 2%;
          }

          .pic {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            img {
              filter: grayscale(90%);
              width: 40%;
              margin: 1%;
              -webkit-filter: grayscale(90%);
            }
          }
        }
      }

      .partener {
        display: none;
      }
    }
  }
}
