@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .headline {
  background-image: url("image/Untitled-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ec5242;
  padding: 5%;
}

body .headline .open-intro {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  margin-top: 15%;
  padding: 2%;
}

body .headline .open {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 32px;
  padding: 3%;
}

body .headline .para-cointainer {
  font-family: "Lato", sans-serif;
  color: #272a31;
  background-color: rgba(211, 211, 211, 0.6);
  border: 1px solid #fff;
  padding: 5%;
}

body .headline .para-cointainer p {
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  line-height: 26px;
  font-size: 18px;
}

body .headline .event-date {
  font-family: "Lato", sans-serif;
  color: #272a31;
  background-color: rgba(211, 211, 211, 0.6);
  border: 1px solid #fff;
  padding: 5%;
  font-size: 22px;
}

body footer {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #272a31;
  padding: 5%;
}

body footer .log {
  width: 50%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body footer .log img {
  width: 150px;
  height: 150px;
}

body footer .p-footer {
  padding: 3%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: left;
}

body .main {
  color: #fff;
  background-image: url("image/repeat-bg.png");
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body .main .tittle {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 5%;
  color: #fff;
  padding: 5%;
}

body .main .tittle h3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}

body .main .tittle .line {
  width: 15%;
  border: 2px solid #ec5242;
  margin-top: 3%;
}

body .main .programs {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  margin-left: 5%;
  margin-right: 5%;
}

body .main .programs .program {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(39, 42, 49, 0.603);
  margin-bottom: 3%;
  font-family: "Lato", sans-serif;
  height: 20%;
  text-align: left;
  width: 100%;
  padding: 5%;
}

body .main .programs .program img {
  width: 10%;
  height: 20%;
  margin-right: 3%;
}

body .main .programs .program h3 {
  font-size: 16px;
  width: 100px;
  color: #ec5242;
  margin-right: 3%;
}

body .main .programs .program p {
  width: 245px;
  font-size: 14px;
  line-height: 20px;
}

body .main .jo-btn {
  width: 60%;
  background-color: #ec5242;
  color: white;
  height: 30%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 20px;
  border: none;
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}

body .main .jo-btn a {
  text-decoration: none;
  color: white;
}

body header {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  font-size: 42px;
  color: #272a31;
  background-color: rgba(211, 211, 211, 0.5);
  width: 100%;
  height: 67px;
  position: fixed;
}

body header .nav-a {
  display: none;
}

body header .nav-ul {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.9);
  width: 100%;
  left: 0;
  top: 0;
}

body header .nav-ul #close {
  display: flex;
  width: 80%;
  margin-top: 6%;
}

body header .nav-ul #close .close-btn {
  font-size: 50px;
  color: #272a31;
  outline: none;
  border: none;
  background: none;
}

body header .nav-ul .to-ul {
  padding: 5%;
}

body header .nav-ul .to-ul .menu {
  list-style: none;
}

body header .nav-ul .to-ul .menu li {
  padding: 5%;
  margin-bottom: 35%;
}

body header .nav-ul .to-ul .menu li a {
  text-decoration: none;
  color: #272a31;
}

body header .nav-ul .div {
  height: 500px;
}

body header .active {
  display: none;
}

body .speakers {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  margin: 5%;
}

body .speakers .title1 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 5%;
  text-align: center;
}

body .speakers .title1 h2 {
  margin-bottom: 3%;
}

body .speakers .title1 .line3 {
  border: 1px solid #ec5242;
  width: 20%;
}

body .speakers .person {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 3%;
}

body .speakers .person .pres-img {
  margin-right: 3%;
  padding: 1%;
  width: 35%;
  height: 100%;
}

body .speakers .person .content {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 5%;
}

body .speakers .person .content .job-title {
  color: #ec5242;
  margin: 0;
}

body .speakers .person .content .line1 {
  border: 1px solid #d3d3d3;
  width: 10%;
}

body .speakers .person .content .info {
  color: #272a31;
}

body .partener {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 5%;
  background-color: #272a31;
}

body .partener .title-p {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #d3d3d3;
  font-size: 2rem;
}

body .partener .title-p .line-p {
  border: 1px solid #ec5242;
  width: 30%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

body .partener .p-list {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .partener .p-list .ph {
  width: 33%;
}

body .partener .p-list .ph img {
  width: 100%;
}

@media (min-width: 768px) {
  body header {
    margin: 0%;
    padding: 0%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    z-index: 10;
  }

  body header .nav-b {
    display: none;
  }

  body header .nav-a {
    display: block;
    width: 100%;
    position: fixed;
  }

  body header .nav-a .nav-white {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
  }

  body header .nav-a .nav-white a {
    width: 10%;
    margin-left: 5%;
  }

  body header .nav-a .nav-white a .l-1 {
    width: 100%;
  }

  body header .nav-a .nav-white .nav-lists {
    list-style: none;
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    width: 90%;
    padding: 0%;
    margin: 0%;
    margin-left: 50%;
    margin-right: 7%;
  }

  body header .nav-a .nav-white .nav-lists li {
    padding: 1%;
    margin: 1%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body header .nav-a .nav-white .nav-lists li a {
    text-decoration: none;
    color: #272a31;
    font-size: 16px;
    text-align: center;
  }

  body header .nav-a .nav-blak {
    margin: 0%;
    padding: 0%;
  }

  body header .nav-a .nav-blak .black {
    background-color: black;
  }

  body header .nav-a .nav-blak .black .top {
    width: 100%;
    height: 30px;
    margin-left: -10%;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
  }

  body header .nav-a .nav-blak .black .top li {
    padding: 0.3%;
    margin: 0.3%;
    margin-left: 1.5%;
  }

  body header .nav-a .nav-blak .black .top li a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }

  body main .headline {
    background-image: url("image/tmtm.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8%;
  }

  body main .headline .open-intro {
    margin-top: 0%;
    font-weight: 900;
  }

  body main .headline .open {
    width: 50%;
    padding: 1%;
    font-size: 36px;
  }

  body main .headline .para-cointainer {
    width: 50%;
    padding: 1%;
    background-color: #d3d3d3;
    font-weight: 500;
    margin-bottom: 3%;
  }

  body main .headline .event-date {
    width: 50%;
    padding: 1%;
    border: none;
    background-color: #d3d3d3;
  }

  body main .partener {
    padding: 2% 5%;
  }

  body main .partener .title-p h3 {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
  }

  body main .partener .p-list {
    padding: 5%;
    padding-bottom: 2%;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  body main .partener .p-list .ph {
    width: 10%;
    margin-left: 2%;
  }

  body main .main .tittle {
    margin: 0%;
    padding: 1%;
  }

  body main .main .tittle .line {
    margin: 1%;
    width: 5%;
  }

  body main .main .programs {
    -ms-flex-item-align: center;
    align-self: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0%;
  }

  body main .main .programs .program {
    padding: 1%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%;
    height: 200px;
    margin: 0%;
    margin-left: 1%;
    background-color: rgba(211, 211, 211, 0.1);
  }

  body main .main .programs .program img {
    margin: 1%;
    width: 25%;
    height: 25%;
  }

  body main .main .programs .program h3 {
    padding: 1%;
    margin: 1%;
    font-size: 21px;
    height: 15%;
  }

  body main .main .programs .program p {
    margin: 0%;
    width: 100%;
    height: 30%;
    text-align: center;
  }

  body main .main .jo-btn {
    margin: 2%;
    padding: 1%;
    background: none;
    text-decoration: underline;
    font-size: 1.3rem;
  }

  body main .speakers {
    margin: 5%;
    margin-top: 2%;
  }

  body main .speakers .title1 {
    margin: 1%;
    padding: 1%;
  }

  body main .speakers .title1 h2 {
    margin-bottom: 1%;
  }

  body main .speakers .title1 .line3 {
    width: 5%;
  }

  body main .speakers .person-card {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  body main .speakers .person-card .person {
    width: 50%;
    height: 33%;
  }

  body footer {
    padding: 0%;
  }
}
